<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="shareholderXGroup">
      <h2 data-cy="shareholderXGroupDetailsHeading">
        <span jhiTranslate="evergentApp.shareholderXGroup.detail.title">Shareholder X Group</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ shareholderXGroup.id }}</span>
        </dd>
        <dt><span jhiTranslate="evergentApp.shareholderXGroup.shareholder">Shareholder</span></dt>
        <dd>
          <div *ngIf="shareholderXGroup.shareholder">
            <a [routerLink]="['/shareholder', shareholderXGroup.shareholder.id, 'view']">{{ shareholderXGroup.shareholder.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="evergentApp.shareholderXGroup.group">Group</span></dt>
        <dd>
          <div *ngIf="shareholderXGroup.group">
            <a [routerLink]="['/group', shareholderXGroup.group.id, 'view']">{{ shareholderXGroup.group.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/shareholder-x-group', shareholderXGroup.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
