<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-inheritance-heading"
        data-cy="InheritanceCreateUpdateHeading"
        jhiTranslate="evergentApp.inheritance.home.createOrEditLabel"
      >
        Create or edit a Inheritance
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="evergentApp.inheritance.operationDate" for="field_operationDate">Operation Date</label>
          <div class="input-group">
            <input
              id="field_operationDate"
              data-cy="operationDate"
              type="text"
              class="form-control"
              name="operationDate"
              ngbDatepicker
              #operationDateDp="ngbDatepicker"
              formControlName="operationDate"
            />
            <button type="button" class="btn btn-secondary" (click)="operationDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="evergentApp.inheritance.documentNumber" for="field_documentNumber">Document Number</label>
          <input
            type="text"
            class="form-control"
            name="documentNumber"
            id="field_documentNumber"
            data-cy="documentNumber"
            formControlName="documentNumber"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="evergentApp.inheritance.documentDate" for="field_documentDate">Document Date</label>
          <div class="input-group">
            <input
              id="field_documentDate"
              data-cy="documentDate"
              type="text"
              class="form-control"
              name="documentDate"
              ngbDatepicker
              #documentDateDp="ngbDatepicker"
              formControlName="documentDate"
            />
            <button type="button" class="btn btn-secondary" (click)="documentDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="evergentApp.inheritance.sharesNo" for="field_sharesNo">Shares No</label>
          <input type="number" class="form-control" name="sharesNo" id="field_sharesNo" data-cy="sharesNo" formControlName="sharesNo" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="evergentApp.inheritance.status" for="field_status">Status</label>
          <input type="text" class="form-control" name="status" id="field_status" data-cy="status" formControlName="status" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
