<div>
  <h2 id="page-heading" data-cy="CommunicationHeading">
    <span jhiTranslate="evergentApp.communication.home.title">Communications</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="evergentApp.communication.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-communication"
        [routerLink]="['/communication/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="evergentApp.communication.home.createLabel"> Create a new Communication </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="communications?.length === 0">
    <span jhiTranslate="evergentApp.communication.home.notFound">No Communications found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="communications && communications.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="type">
            <div class="d-flex">
              <span jhiTranslate="evergentApp.communication.type">Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="message">
            <div class="d-flex">
              <span jhiTranslate="evergentApp.communication.message">Message</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="status">
            <div class="d-flex">
              <span jhiTranslate="evergentApp.communication.status">Status</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="shareholder.id">
            <div class="d-flex">
              <span jhiTranslate="evergentApp.communication.shareholder">Shareholder</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let communication of communications; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/communication', communication.id, 'view']">{{ communication.id }}</a>
          </td>
          <td>{{ communication.type }}</td>
          <td>{{ communication.message }}</td>
          <td>{{ communication.status }}</td>
          <td>
            <div *ngIf="communication.shareholder">
              <a [routerLink]="['/shareholder', communication.shareholder.id, 'view']">{{ communication.shareholder.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/communication', communication.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/communication', communication.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(communication)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
